language: java
jdk:
- oraclejdk8

install:
- mvn -N io.takari:maven:wrapper
- ./mvnw install


script:
- mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install -Pdev sonar:sonar
- mvn org.apache.maven.plugins:maven-assembly-plugin:2.6:assembly -DdescriptorId=jar-with-dependencies package

addons:
  sonarcloud:
    organization: "sweihmws2018-19"

#deploy:
#  provider: lambda
#  function_name: "cryptoguide"
#  region: "us-east-1"
#  role: "arn:aws:iam::117265078110:role/lambda_basic_execution"
#  runtime: "java8"
#  handler_name: "main.java.cryptoguide.CryptoGuideStreamHandler"
#  access_key_id: "ASIARWTMLC5POFEA2276"
#  secret_access_key: "+7rHPBz84tRBX6xiNHCqH3zOFko3moAkJxVmQ0Rr"